@model IEnumerable<LiveNetworkDocumentation.Models.KhadamatMashiniPersonnel>


@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        <h2>لیست پرسنل خدمات ماشینی</h2>
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        @Html.ActionLink("ایجاد پرسنل جدید", "New", new { Controller = "Personnel" }, new { @class = "btn btn-primary text-right", @dir = "rtl" })
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>
<br/>

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        <table id="tableOfPersonnels" class="table table-bordered table-hover table-striped table-fit-to-content" dir="rtl">
            <thead>
            <tr class="bg-success text-primary">
                <th class="text-center">ردیف</th>
                <th class="text-center">نام مسئول خدمات ماشینی</th>
                <th class="text-center">سمت</th>
                <th class="text-center">منطقه </th>
                <th class="text-center">تلفن داخلی</th>
                <th class="text-center">تلفن مستقیم</th>
                <th class="text-center">موبایل</th>
                <th class="text-center">ویرایش</th>
                <th class="text-center">حذف</th>
            </tr>
            </thead>

            <tbody>
            </tbody>

        </table>
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var i = 1;
            var table =  $("#tableOfPersonnels").DataTable({

                "pageLength": 30,

                "oLanguage": {
                    "sSearch": "جستجو  ",
                    "sSearchPlaceholder": "یه چیزی بنویس ...",
                    "sLengthMenu": "نمایش  _MENU_  رکورد در جدول",
                    "decimal": "",
                    "sEmptyTable": "هیچ داده قابل دسترسی در جدول یافت نشد",
                    "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ ورودی",
                    "sInfoEmpty": "نمایش 0 تا 0 از صفر ورودی",
                    "sInfoFiltered": "(فیلتر شده از _MAX_ کل وردی ها)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "sLoadingRecords": "بارگذاری ...",
                    "sProcessing": "پردازش ...",
                    "sZeroRecords": "هیچ رکوردی که مطابقت داشته باشد یافت نشد",
                    "oPaginate": {
                        "sFirst": "اول",
                        "sLast": "آخر",
                        "sNext": "بعدی",
                        "sPrevious": "قبلی"
                    }
                },

                "sDom" : 
                    "<'row'<'col-sm-6'f><'col-sm-6'l>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                "columnDefs": [
                    { "className": "text-center", "targets": "_all" }
                ],

                ajax: {
                    url: "/api/personnels",
                    dataSrc: ""
                },
                
                columns: [
                    {
                        data: "id",
                        render: function (data) {
                            return i++;
                        }
                    },
                    {
                        data: "name",
                        render: function(data, type, personnel) {
                            return "<a href='/Personnel/Edit/'" + personnel.id + "'>" + personnel.name + "</a>";
                        }
                    },
                    {
                        data: "semat",
                        render: function(data) {
                            return (data) ? data.name : null;
                        }
                    },
                    {
                        data: "manategh",
                        render: function(data) {
                            return (data) ? data.name : null;
                        }
                    },
                    {
                        data: "telDakheli"
                    },
                    {
                        data: "telMostaghim"
                    },
                    {
                        data: "mobile"
                    },
                    {
                        data: "id",
                        render: function(data, type, personnel) {
                            return "<a href='/Personnel/Edit/" + personnel.id + "'>" + "<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>" + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-personnel-id=" + data + "> <span class='glyphicon glyphicon-remove-circle'></span>" + "</button>";
                        } 
                    }
                ]
            });

            $("#tableOfPersonnels").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("آیا مطمئن هستید که می خواهید این رکورد حذف شود؟",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/personnels/" + button.attr("data-personnel-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}
